In [25]:
import pandas as pd
#Importar biblioteca/Pandas

tabela1 = pd.read_excel("1A.XLSX", skiprows=4)
tabela1 = tabela1.assign(Turma = '1A')

tabela2 = pd.read_excel("1B.XLSX", skiprows=4)
tabela2 = tabela2.assign(Turma = '1B')

tabela3 = pd.read_excel("1C.XLSX", skiprows=4)
tabela3 = tabela3.assign(Turma = '1C')

tabela4 = pd.read_excel("1D.XLSX", skiprows=4)
tabela4 = tabela4.assign(Turma = '1D')

tabela5 = pd.read_excel("2A.XLSX", skiprows=4)
tabela5 = tabela5.assign(Turma = '2A')

tabela6 = pd.read_excel("2B.XLSX", skiprows=4)
tabela6 = tabela6.assign(Turma = '2B')

tabela7 = pd.read_excel("2C.XLSX", skiprows=4)
tabela7 = tabela7.assign(Turma = '2C')

tabela8 = pd.read_excel("2D.XLSX", skiprows=4)
tabela8 = tabela8.assign(Turma = '2D')

tabela9 = pd.read_excel("2E.XLSX", skiprows=4)
tabela9 = tabela9.assign(Turma = '2E')

tabela10 = pd.read_excel("3A.XLSX", skiprows=4)
tabela10 = tabela10.assign(Turma = '3A')

tabela11 = pd.read_excel("3B.XLSX", skiprows=4)
tabela11 = tabela11.assign(Turma = '3B')

tabela12 = pd.read_excel("3C.XLSX", skiprows=4)
tabela12 = tabela12.assign(Turma = '3C')

tabela13 = pd.read_excel("4A.XLSX", skiprows=4)
tabela13 = tabela13.assign(Turma = '4A')

tabela14 = pd.read_excel("4B.XLSX", skiprows=4)
tabela14 = tabela14.assign(Turma = '4B')

#Ler tabelas do excel
#skiprows= PULAR LINHA
#tabela = tabela.assign(Turma = 'x') = ADD COLUNA

tabela = pd.concat([tabela1, tabela2,tabela3,tabela4,tabela5, tabela6, tabela7, tabela8, tabela9, tabela10, tabela11, tabela12, tabela13, tabela14])
#Concatenar tabelas

display(tabela)
#Visualizar Tabela concatenada

tabela.to_excel("Lista Piloto.xlsx", index=False)
#Importa nova planilha para excel

,Código,RA Prodesp,Código INEP,Nº,Nome do Aluno,Filiação 1,Data Nascimento,Data Inclusão Aluno Turma,Data Matrícula,P.C.,Situação Aluno,Origem Matrícula,Série,Utiliz. T.E.G.,Turma
0,7008602,000121446095-1/SP,1.834291e+11,1.0,ALEJANDRO WALLACE ANDRADE ARAUJO,LUANA DE ANDRADE,2015-07-24,2018-01-24,2021-12-08,NaN,ATIVO,INICIAL,1º Ano,NaN,1A
1,7658264,000122490181-2/SP,1.832784e+11,2.0,ANA JULIA DE ASSIS MELO,MICHERLANY MOREIRA DE ASSIS,2015-09-13,2020-12-03,2021-12-08,NaN,ATIVO,INICIAL,1º Ano,NaN,1A
2,6507550,000116258639-4/SP,1.690073e+11,3.0,ANNY BEATRYS OLIVEIRA DOS SANTOS,ANA PAULA ALMEIDA DE OLIVEIRA,2015-12-07,2016-01-06,2021-12-08,NaN,ATIVO,INICIAL,1º Ano,NaN,1A
3,7946813,000120182959-8/SP,NaN,4.0,BRAYAN PIRES PEREIRA,ERICA PIRES DE CAMPOS,2015-11-24,2022-02-11,2022-02-14,NaN,ATIVO,INICIAL,1º Ano,UTILIZANDO,1A
4,6667903,000116111505-5/SP,1.690073e+11,5.0,BRYAN BISNELI NORONHA,ANIROZE DE DEUS BISNELI,2016-03-21,2016-08-05,2021-12-08,NaN,ATIVO,INICIAL,1º Ano,NaN,1A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34,6308798,000114666548-9/SP,1.282310e+11,NaN,MARIA VITORIA BERALDO DE LIMA SILVA,LETICIA BERALDO,2012-04-17,2015-02-19,2021-12-20,NaN,VÍNCULO INDEVIDO,INICIAL,4º ANO,NaN,4B
35,7531397,000121871938-2/SP,1.273667e+11,NaN,MECIAS OLIVEIRA DE SOUZA JUNIOR,BIANCA OLIVEIRA FRANCA,2010-12-03,2020-01-15,2021-12-20,NaN,VÍNCULO INDEVIDO,INICIAL,4º ANO,NaN,4B
36,7377469,000121509856-X/SP,1.242525e+11,NaN,NICOLAS BERALDO DE LIMA,MARIA LUIZA BERALDO,2012-07-15,2019-06-25,2022-03-08,NaN,TRANSFERIDO,INICIAL,4º ANO,NaN,4B
37,6309461,000115458137-8/SP,1.282030e+11,NaN,RANIELE ALVES DOS SANTOS,MARIA ROSINEIDE DOS SANTOS,2013-01-31,2015-02-20,2021-11-19,NaN,VÍNCULO INDEVIDO,INICIAL,4º ANO,NaN,4B
38,5624955,000114546323-X/SP,1.280696e+11,NaN,RENAN GABRIEL OLIVEIRA DE LIMA,MARIA JOSILENE OLIVEIRA DE LIMA,2011-09-27,2011-12-01,2022-01-06,NaN,VÍNCULO INDEVIDO,INICIAL,4º ANO,NaN,4B